<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true">
  <extensions>
  </extensions>
  <targets>
    <target
      name="logFile"
      xsi:type="File"
      fileName="Logs\${shortdate}.txt"
      archiveAboveSize="11000000"
      archiveNumbering="Sequence"
      keepFileOpen="true"
      layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message:withexception=true}" />

    <target name="console"
      xsi:type="Console"
      layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message:withexception=true}" />

  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="logFile" />
    <logger name="*" minlevel="Debug" writeTo="console" />
  </rules>
</nlog>
